.logo-link {
    display: inline-block;
    background-color: grey;
    padding: 10px; /* add some padding to make the background visible */
  }
  
  .logo-link img {
    display: block;
    height: auto;
    max-width: 10%; /* make the image responsive */
  }
  