

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

navbar {
    background-color: grey;
}

header {
    background-color: grey;
}

middle {
    background-color: Silver;
}

footer {
    background-color: gray;
}